<footer class="text-center mt-5">
    <div class="inner">
        <p>Developed by <a href="https://github.com/AbylaiNur">AbylaiNur</a> and <a href="https://github.com/xamss">Amanzhol
                Bakhtiyar</a></p>
    </div>
</footer>