<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>
</head>

<body>
<div class="container d-flex p-3 mx-auto flex-column text-center" style="height: 100vh">
    <%- include('./partials/header') %>
    <main role="main" class="inner cover my-auto">
        <h1 class="cover-heading">Quiz Generator</h1>
        <p class="lead" style="padding-left: 20rem; padding-right: 20rem;">
            Quiz Generator is a static website which uses ChatGPT-3 for generating quizzes. You can use it to create
            quizzes based on a <strong>context</strong> (article) or a <strong>topic</strong>, and download it in
            MoodleXML format.
        </p>
        <div>
            <span class="lead me-2">
                <a href="/context" class="btn btn-lg btn-secondary" style="width: 7rem;">Context</a>
            </span>
            <span class="lead">
                <a href="/topic" class="btn btn-lg btn-secondary" style="width: 7rem;">Topic</a>
            </span>
        </div>
    </main>
    <%- include('./partials/footer') %>

</div>

</div>
</body>