<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home</title>

    <style>
        .errorMsg {display: none;}
        :invalid + .errorMsg {display: block;}
    </style>
</head>

<body>

<div class="container py-3" style="width:60%">
    <%- include('./partials/header') %>
    <div class="alert alert-info" role="alert">
        <h4>Advice</h4>
        We recommend you to generate only theoretical questions.<br>
        With math questions the application may generate incorrect ones.
    </div>
    <form action="/quiz/topic" method="get">
        <div class="mx-0 mx-sm-auto">
            <div class="card">

                <div class="modal-body">

                    <hr/>
                    <div class="px-4">
                        <p class="text-center"><strong>What topics should your quiz cover?</strong></p>

                        <div class="form-outline mb-4">
                            <input class="form-control" id="form3" rows="4" name="topic" pattern=".{0,29}" maxlength="30" placeholder="python if else">
                            <div class="text-danger errorMsg mt-2">Warning! You're not allowed to submit more than 30 characters</div>
                        </div>  
                    </div>
                </div>

            </div>
        </div>

        <div class="my-4 mx-sm-auto">
            <div class="card">
                <div class="modal-body">
                    <hr/>
                    <div class="px-4">
                        <p class="text-center"><strong>How many questions are there?</strong></p>
                        <p>Be aware. It is going to generate number of questions that is the nearest larger number divisible by 10</p>
                        <div class="form-outline mb-4">
                            <input class="form-control" name="questionsCount" id="idk" rows="4" placeholder="20">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4">
            <div class="d-flex" role="group">
                <input type="radio" class="btn-check" name="difficulty" value="easy" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-secondary flex-fill mx-3" for="btnradio1">Easy</label>

                <input type="radio" class="btn-check" name="difficulty" value="medium" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-secondary  flex-fill mx-3" for="btnradio2">Medium</label>

                <input type="radio" class="btn-check" name="difficulty" value="hard" id="btnradio3" autocomplete="off">
                <label class="btn btn-outline-secondary flex-fill mx-3" for="btnradio3">Hard</label>

                <input type="radio" class="btn-check" name="difficulty" value="very hard" id="btnradio4" autocomplete="off">
                <label class="btn btn-outline-secondary  flex-fill mx-3" for="btnradio4">Very Hard</label>
            </div>
        </div>

        <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary mb-3">Generate</button>
        </div>
    </form>
    <%- include('./partials/footer') %>
</div>

</body>